<div class="box">
  <div id="todo-list" class="box">
    <h2><span class="pre"></span>TODO LIST<span class="next"></span></h2>
    <ul>
      <% for (var i = 0, len = todos.length; i < len; i++) {
        var todo = todos[i];
        var status = todo.finished ? 'class="finished"' : '';
      %>
        <li <%- status %>>
          <% if (!todo.finished) { %>
            <span class="title"><%= todo.title %></span>
           
            <a class="btn" href="/todo/<%- todo._id%>/finish?status=yes">完成</a>
          <% } else { %>
            <del class="del"><%= todo.title %></del>
            <a class="btn" href="/todo/<%- todo._id%>/finish?status=no">恢复</a>
          <% } %>
          <a class="btn" href="/todo/<%- todo._id%>/edit">修改</a>
          <a class="btn" href="/todo/<%- todo._id%>/delete" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
        </li>
      <% } %>
    </ul>
  </div>

  <div id="new-item">
    <form action="/todo/new" method="post" id="post_new">
      <input type="hidden" name="_csrf" id="csrf" value="<%- _csrf %>" />
      <input type="text" name="title" id="item-title" class="long_txt" />
      <input type="submit" class="submit btn" value="添加" />
    </form>
  </div>

</div>

