<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= config.site_name %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" type="text/css" href="/public/styles/common.css">
<link rel="stylesheet" type="text/css" href="/public/styles/main.css">
<body>

<div id="top" class="gray-gradient">
  <div id="list-slider">
  	<span class="pre"></span>
  	<span class="">TODO LIST</span>
  	<span class="next"></span>
  </div>
</div>
<div id="wrapper">
	<%- body %>
</div>
<div id="bbar" class="black-gradient">
	<ul>
		<li><span>首页</span></li>
		<li><span>添加</span></li>
		<li><span>动态</span></li>
	</ul>
</div>
</body>
</html>
