<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= config.site_name %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" type="text/css" href="/public/styles/common.css">
<link rel="stylesheet" type="text/css" href="/public/styles/main.css">
<body>

<div class="top gray-gradient">
  <ul>
    <li><a href="#">blog</a></li>
    <li><a href="#">about</a></li>
    <li class="search"><input type="text" name="search" class="search-box" id="search" placeholder="search"/></li>
  </ul>
</div>
<div id="wrapper">
	<%- body %>
</div>

</body>
</html>
