<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= config.site_name %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" type="text/css" href="/public/styles/common.css">
<link rel="stylesheet" type="text/css" href="/public/styles/main.css">
<script type="text/javascript" src="/public/lib/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/public/lib/iscroll.js"></script>
<script type="text/javascript" src="/public/js/main.js"></script>
<body>

<div id="top" class="black-gradient">
  <div id="list-slider">
  	<span class="pre"></span>
  	<span class="title">TODO LIST</span>
  	<span class="next"></span>
  </div>
</div>
<div id="wrapper">
    <%- body %>
</div>
<div id="bbar" class="gray-gradient">
    <div class="add-box">
      <form action="/todo/new" method="post" id="post_new">
        <input type="hidden" name="_csrf" id="csrf" value="<%- _csrf %>" />
        <input id="todo-text-add" name="title" type="text" placeholder="添加待办"/>
        <button id="todo-btn-add" type="submit" class="btn">添加</button>
        </form>
    </div>
</div>
</body>
</html>
