<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= config.site_name %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<style type="text/css">
 .test {
    border-width: 100px 0px 100px 100px;
    border-style: solid;
    display: block;
    border-color: #CCC #000;
    width: 0px;
    box-shadow: 0 0 10px #06C;
 }
</style>
<body>
<div class="test"> </div>
</body>
</html>
