* {-webkit-tap-highlight-color:rgba(255,255,255,0);}
body{
  font-family: Microsoft YaHei,SimSun;
}
/*****
 * button
 */
 .btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

/*************Input***************/

input {
  border: 1px solid #DDD;
  border-radius: 3px;
  outline: none;
  padding: 3px 8px;
}
input:focus {
  border-color: #51A7E8;
  box-shadow: rgba(81, 167, 232, 0.5) 0 0 3px,inset rgba(0, 0, 0, 0.2) 0 1px 1px;
}


body {
	background-color: #fAfAfA;
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: 0px 45px;
}

.gray-gradient {
	background-color: #f3f3f3;
	background-image: -webkit-linear-gradient(top,#FAFAFA,#EAEAEA);
	background-image: -moz-linear-gradient(top,#FAFAFA,#EAEAEA);
	background-image: -ms-linear-gradient(top,#FAFAFA,#EAEAEA);
	background-image: -o-linear-gradient(top,#FAFAFA,#EAEAEA);
	background-image: linear-gradient(top,#FAFAFA,#EAEAEA);
	border-bottom: 1px solid #cacaca;
}
.black-gradient {
	background-color: #f3f3f3;
	background-image: -webkit-linear-gradient(top,#414141,#2E2E2E);
	background-image: -moz-linear-gradient(top,#414141,#2E2E2E);
	background-image: -ms-linear-gradient(top,#414141,#2E2E2E);
	background-image: -o-linear-gradient(top,#414141,#2E2E2E);
	background-image: linear-gradient(top,#414141,#2E2E2E);
	border-top: 1px solid #cacaca;
}

#top{ 
  position: fixed;
  top: 0px;
  z-index:9000;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 4px #5B5B5C solid;
  -webkit-box-shadow:0px 3px 5px #F1F1F1;
}
#top #list-slider{
  display: block;
  width: 150px;
  font-size: 1.5em;
  font-weight: bold;
  color:#3B3B3B;
  margin: 0px auto;
  text-align: center;
  /*box-shadow: 0 0 10px rgba(120, 120, 120, .5) inset;*/
  position: relative;
}
#top #list-slider .next{
  border-width: 10px 0px 10px 10px;
  border-style: solid;
  border-color: #414141 #ccc #414141 #ccc;
  position: absolute;
  top: 9px;
  right: -2px;
  display: block;
  width: 0; /* firefox */
}
#top #list-slider .title{
  font-family: Arial, Helvetica, sans-serif;
  color: #FAFAFA;
  font-size: 1.1em;
  text-shadow: 0px -1px 0px #123;
}
#top #list-slider .pre{
  border-width: 10px 10px 10px 0px;
  border-style: solid;
  border-color: #414141 #ccc #414141 #ccc; 
  position: absolute;
  top: 9px;
  left: -2px;
  display: block;
  width: 0; /* firefox */
  box-shadow:-10px 0 10px red, box-shadow:10px 0 10px blue,box-shadow:0 -10px 10px yellow,box-shadow:0 10px 10px green;
}


#wrapper {
	margin: 50px  0px 50px 0px ;
}
#header {

}
#footer {
	
}

/****************
 * 首页Todo列表
 ****************/
#todo-list{
  text-align: center;
}
/*iscroll*/
#todo-list .scroll_wrapper {
  position:absolute; z-index:1;
  top:48px; bottom:48px; left:0;
  width:100%;
}
#todo-list .scroll_wrapper .scroller{
  position:absolute; z-index:1;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  width:100%;
  padding:0;
}
#todo-list ul{
  list-style: none;
  text-align: left;
}
#todo-list ul li{
  display: block;
  padding:5px 2px;
  border-left:5px solid #FAFAFA;
}
#todo-list ul li:hover{
  background-color: #F1F1F1; 
  color: #121212;
  border-left: 5px solid #5e92db;
}
#todo-list ul li.list-item-active{
  background-color: #F1F1F1; 
  color: #121212;
  border-left: 5px solid #5e92db;
}
#todo-list ul li .title{
  display: inline-block;
  padding: 5px;
  width: 300px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#todo-list ul li .del{
  display: inline-block;
  padding: 5px;
  width: 300px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#todo-list ul li a{
  display: none;
}

#new-item {
  margin: 10px 5px 5px 0px;
  text-align: right; 
}
#new-item #post_new #item-title{
  height: 22px;
}
#new-item #post_new .submit{
  margin-bottom: 1px;
}
/****************
 * 底部工具栏
 ****************/
#bbar {
  z-index: 9000;
	position: fixed;
	bottom: 0px;
	width: 100%;
	color: #FFF;
}
/*
#bbar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#bbar ul li {
	display: block;
	float: left;
	height: 45px;
	line-height: 45px;
}
#bbar ul li span{
	height: 100%; display: inline-block;padding: 0px 8px;
	text-align: center;
}
#bbar ul li span:hover {
	background-color: #A8C030;
	color: #000;
}
*/
#bbar .add-box #post_new{
  display: -webkit-box;
  padding: 5px;
}
#bbar .add-box #post_new #todo-text-add{
  height: 24px;
  margin-right: 5px;
  display: block;
  -webkit-box-flex:1;
}
#bbar .add-box #post_new #todo-btn-add{
  -webkit-box-flex:0;
  display: block;
  height: 32px;
}
#edit-todo {
  padding: 5px;
}
#edit-todo h2 {
  margin-bottom: 10px;
}

.list{
  margin: 5px;
  border: 1px solid #cccccc;
  -webkit-box-shadow:0px 0px 5px #CCC;
}
.list>p{
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

